
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(241, 242, 248);
}

/**Navigation**/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(4, 3, 58);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

//* first page **/